
* {
  

}

header > p {
  font-size: 70pt;
  text-align: center;
  background-color: 
  #ffffff;
  margin: 6px 0;

}




.highlight {
  background-color: #EAEAEA;
  width: 90%;
  margin: 15px auto;
  padding: 15px 0;
  display: flex;
  border-radius: 10px;

}

#words {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#lance_liz {

  display: flex;
  flex-direction: column;
  margin: auto auto;
  width: 50%;
}

p.large {
  color: #2E2E2E;
  font-size: 60pt;
}

#focus {
  color: #52615B;
}