

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

#page_wrapper {
  background-color: #7A9388;
}

#header  {
  width: 100%;
  height: 120px;
  background-color: 
  #ffffff;
  display: flex;
}

#img_contain {
  flex: 1;
}

#site_title {
flex: 1.8;
font-size: 60pt;
text-align: center;
}

#nav-bar {
flex: 1;
display: flex;
}

#header-img {
  float: right;
  height: 110px;
}

#nav-bar ul > li {
  list-style: none;
}

#nav-bar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#nav-bar ul > li a {
  color: #52615B;
  text-decoration: none;
  font-size: 14pt;
}

.highlight {
  background-color: #EAEAEA;
  width: 75%;
  margin: 25px auto;
  padding: 15px 0;
  display: flex;
  border-radius: 10px;
}

#words_container {
  display: flex;
  flex: 1;
}

#pic_container {
display: flex;
flex: 1.5;
}

#lance_liz {
  margin: auto auto;
  width: 65%;
}

p.large {
  color: #2E2E2E;
  font-size: 52pt;
  margin: auto;
  padding-left: 60px;
}

#focus {
  color: #52615B;
}






footer {
  background-color: #EAEAEA;
  width: 75%;
  margin: 10px auto;
  padding: 25px 0;
  border-radius: 10px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
  list-style: none;
}

footer > ul > li > a {
  color: #52615B
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #52615B;
}
