

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#page-wrapper {
  position: relative;
}


header > p {
  font-size: 70pt;
  text-align: center;
  background-color: 
  #ffffff;
  margin: 6px 0;
}




.highlight {
  background-color: #EAEAEA;
  width: 75%;
  margin: 25px auto;
  padding: 25px 0;
  display: flex;
  border-radius: 10px;
}

#words_container {
  display: flex;
  flex: 1;
}

#pic_container {
display: flex;
flex: 1.5;
}

#lance_liz {

  margin: auto auto;
  width: 54%;
}

p.large {
  color: #2E2E2E;
  font-size: 60pt;
  margin: auto;
}

#focus {
  color: #52615B;
}